/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  .main-header,
  .main-nav,
  .row,
  .row-2,
  .col-2 {
    display: flex;

  }

  .col {
    flex: 1 50%;
  }

  .row {
    flex-wrap: wrap;
  }


  .secondary {
    order: -1;
  }


  .main-header {
    flex-direction: column;
    align-items: center;
  }

  .col-2 {
    flex: 1 400px;
    flex-direction: column;
  }

  .button {
    margin-top: auto;
  }






}

@media (min-width: 1025px) {

  .main-header {
    flex-direction: row;
    justify-content: space-between;

  }

  .col {
    flex-basis: 0;
  }









}